body {
    margin: 0;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

img {
    border: 0;
}

#utd {
    width: 100%;
    height: 100%;
}

#heading1 {
    text-transform:uppercase;
    color: #e87500;
}

#heading2 {
    color: gray;
}

#hsr {
    width: 100%;
}

#caption {
    display: inline-block;
    background-color:bisque;
}

.hsr #caption {

}

.wrapper {
    width: 100%;
}

.main {
    table-layout: fixed;
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 600px;
    font-family: sans-serif;
    color: #171a1b;
}

.columns {
    text-align: center;
    font-size: 0;
}

.columns .column {
    table-layout: fixed;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.utd {
    width: 50px;
    height: 50px;
}

.heading {
    display: inline-block;
    text-align: center;
}

.hsr {
    max-height: 112px;
}